/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.container {
  width: 900px;
  margin: auto;
}
nav {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: lightgrey;
  padding: 10px;
  font-size: 24px;
  display: flex;
  flex-direction: row-reverse;
}
.log-out-button {
  background-color: grey;
  text-decoration: none;
  color: white;
  text-align: right;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
  padding: 5px;
}
.log-in-link {
  background-color: grey;
  text-decoration: none;
  color: white;
  text-align: right;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
  padding: 5px;
}
.sign-up-link {
  background-color: lightgreen;
  text-decoration: none;
  color: white;
  margin-right: 10px;
  border-radius: 5px;
  padding: 5px;
}
